<!-- Define your plugins -->
<plugin>
    <name>Lime Plugin</name>
    <minSparkVersion>2.5.8</minSparkVersion>
    <version>1.0</version>
    <author>You</author>
    <homePage>http://www.jivesoftware.org</homePage>
    <email>foo@foo.com</email>
    <description>Sample Plugin</description>
    <class>org.limewire.xmpp.LimeWirePlugin</class>
</plugin>

