<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>installbuilder.sh</string>
        <key>CFBundleGetInfoString</key>
        <string>BitRock InstallBuilder, Copyright 2004-2007 BitRock.</string>
        <key>CFBundleIconFile</key>
        <string>installbuilder.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.bitrock.installbuilder</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>LimeWire</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>3.0</string>
        <key>CFBundleSignature</key>
        <string>BitRock InstallBuilder</string>
        <key>CFBundleVersion</key>
        <string>3.0</string>
	</dict>
 </plist>